<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.mapper.TestMapper">
    <select id="findAll" resultType="com.kuang.pojo.Test">
        select NAME,ADDRESS
        from TBL_SZ_KJJG_SHOW
    </select>
</mapper>